.achievements {
  .margin-x (auto;auto);

  border: none;
}

.achievements__legend {
  .font (14px;18px);

  width: 218px;
  color: @color-pink;
  text-transform: uppercase;
  text-align: center;
  padding-top: 37px;
}

.achievements__list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.achievements__name {
  .font (18px;30px);

  color: @color-main;
  text-align: center;
  margin-left: 12px;
  margin-top: 35px;
  margin-bottom: 47px;
  display: flex;
}

.achievements__point + label::before {
  content: " ";
  .size(35px;35px);

  display: block;
  border: 2px solid @color-light-grey;
  background-color: @color-white;
  position: relative;
  margin-right: 22px;
}

.achievements__point:hover + label::before {
  border-color: @color-main;
}

.achievements__point:focus + label::before {
  border-color: @color-pink;
}

.achievements__point:checked + label::before {
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .achievements {
    .border-block-form();

    background-color: @color-white;
  }

  .achievements__name {
    margin-bottom: 45px;
  }

  .achievements__legend {
    .padding-x (35px);

    width: 450px;
    padding-top: 0;
  }

  .achievements__point + label::before {
    .size(39px;39px);

    top: 6px;
    left: 30px;
    margin-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .achievements {
    padding-bottom: 45px;
  }

  .achievements__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .achievements__list li:first-child {
    order: -4;
  }

  .achievements__list li:nth-child(5) {
    order: -2;
  }

  .achievements__list li:nth-child(3) {
    order: -3;
  }

  .achievements__name {
    margin-bottom: 8px;
  }

  .achievements__point + label::before {
    top: -5px;
  }
}
