.app {
  .margin-x (auto;auto);

  border: none;
  padding-bottom: 0;
}

.app__legend {
  .font (14px;18px);

  width: 218px;
  color: @color-pink;
  text-transform: uppercase;
  text-align: center;
}

.app__list {
  list-style-type: none;
  padding-left: 8px;
  padding-top: 18px;
}

.app__name {
  .font (18px; 30px);

  color: @color-main;
  display: flex;
  margin-bottom: 39px;
}

.app__point + label::before {
  content: " ";
  .size(40px;40px);

  display: block;
  border: 2px solid @color-light-grey;
  border-radius: 50%;
  background-color: @color-white;
  position: relative;
  margin-right: 30px;
  margin-top: -4px;
}

.app__point:hover + label::before {
  border-color: @color-main;
}

.app__point:focus + label::before {
  border-color: @color-pink;
}

.app__point:checked + label::before {
  background-image: url("../img/radio.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .app {
    .border-block-form();

    background-color: @color-white;
    padding-bottom: 13px;
  }

  .app__legend {
    width: 318px;
  }

  .app__name {
    margin-left: 36px;
    margin-top: 10px;
  }

  .app__point + label::before {
    margin-right: 22px;
  }
}

@media (min-width: @desktop-width) {
  .app {
    width: 431px;
  }

  .app__list {
    padding-left: 25px;
    padding-top: 15px;
  }
}
