.description__motto {
  .font(24px; 29px);
  .margin-x(20px;20px);

  color: @color-main;
  text-align: center;
  margin-top: 46px;
}

.description__list {
  list-style-type: none;
  background-color: @color-adding;
  padding: 0;
}

.description__item {
  .margin-x(20px;20px);
}

.description__title {
  .font(18px; 24px);

  color: @color-black;
  font-weight: bold;
  text-align: center;
}

.description__text {
  .font(14px; 24px);

  color: @color-main;
  text-align: center;
}

.description__app-screen {
  margin-left: 50px;
}
