.download-app {
  padding-top: 16px;
  padding-bottom: 30px;
  background-color: @color-dark-blue;
}

.download-app__button {
  .font(18px; 18px);
  .size(280px; 55px);

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: @color-white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 3px solid @color-white;
  border-radius: 29px;
  margin: auto;
  margin-bottom: 30px;

  &:hover {
    background-color: @color-white;
    color: @color-pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.download-app__platforms {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-right: 38px;
  margin-bottom: 16px;
}

.download-app__text {
  .font(14px; 24px);

  width: 280px;
  color: @color-white;
  font-weight: 300;
  margin: auto;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .download-app {
    background-color: transparent;
  }

  .download-app__container {
    width: 340px;
  }

  .download-app__button {
    .size (300px;55px);
    margin-bottom: 45px;
  }

  .download-app__platforms {
    margin-bottom: 40px;
  }

  .download-app__text {
    .font (18px;24px);
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .download-app__container {
    margin-left: 30px;
  }

  .download-app__button {
    margin-bottom: 75px;
  }

  .download-app__platforms {
    margin-bottom: 58px;
  }
}
