.feedback-app__legend {
  .font (14px;18px);

  width: 218px;
  color: @color-pink;
  text-transform: uppercase;
  text-align: center;
}

.feedback-app__text {
  display: block;
  box-sizing: border-box;
  width: 276px;
  min-height: 197px;
  padding: 22px;
  margin: 22px;
}
