.feedback__item {
  display: none;
  margin: 0;
  padding-bottom: 35px;
  padding-top: 50px;

  &--current {
    display: block;
  }
}

.feedback__user-name {
  .font(18px; 30px);

  display: block;
  color: @color-black;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.feedback__user-biography {
  display: none;
}

.feedback__text {
  .font(14px; 30px);

  color: @color-main;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .feedback__item--current {
    display: flex;
    flex-direction: column;
  }

  .feedback__user-name {
    .font (20px;30px);
  }

  .feedback__user-biography {
    .font (14px;30px);

    display: block;
    color: @color-main;
    text-align: center;
  }

  .feedback__text {
    .font (18px; 30px);

    order: -1;

    &:hover {
      border-color: @color-main;
    }

    &:active {
      border-color: @color-pink;
    }
  }
}

@media (min-width: @desktop-width) {
  .feedback__list {
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 72px;
  }

  .feedback__item::before {
    content: " ";
    width: 22px;
    height: 41px;
    background-image: url("../img/icon-review-arrow-left.svg");
    position: relative;
    top: -90px;
    left: -120px;
  }

  .feedback__item::after {
    content: " ";
    width: 22px;
    height: 41px;
    background-image: url("../img/icon-review-arrow-right.svg");
    position: relative;
    top: -280px;
    left: 770px;
  }

  .feedback__item {
    .margin-x (auto;auto);

    width: 688px;
  }

  .feedback__item--current {
    padding-top: 193px;
  }

  .feedback__user-name {
    .font (24px;30px);

    margin-top: 50px;
  }

  .feedback__user-biography {
    .font (18px;30px);
  }
}
