
.form__text {
  .font(14px;30px);
  .margin-x(20px;20px);

  color: @color-main;
  text-align: center;
}

.form__group {
  width: 320px;
  border: none;
  padding: 0;
  margin-bottom: 44px;

  &--achievements,
  &--app {
    background-color: @color-adding;
  }
}

.form__button-submit {
  .font (18px; 30px);

  width: 276px;
  height: 59px;
  box-sizing: border-box;
  color: @color-white;
  background-color: @color-green;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid @color-green;
  border-radius: 5px;
  margin: 48px 20px;
}

.form__note {
  .font (14px;30px);

  color: @color-main;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 65px;

  &--highlight {
    color: @color-pink;
  }
}
