.form__group {
  .margin-x (auto;auto);

  border: none;
  padding: 0;
  margin-bottom: 27px;

  &--achievements {
    background-color: @color-adding;
  }

  &--app {
    background-color: @color-adding;
    padding-top: 24px;
  }
}

.form__button-submit {
  .font (18px; 30px);

  width: 280px;
  height: 62px;
  box-sizing: border-box;
  color: @color-white;
  background-color: @color-green;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid @color-green;
  border-radius: 5px;
  margin-top: 20px;

  &:hover {
    background-color: @color-dark-green;
  }

  &:active {
    background-color: @color-dark-green;
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__note {
  .font (14px;30px);

  color: @color-main;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 58px;
  margin-top: 35px;

  &--highlight {
    color: @color-pink;
  }

  &--extra {
    display: none;
  }
}

.form legend {
  .margin-x(auto;auto);
}

@media (min-width: @tablet-width) {
  .form {
    .margin-x (auto;auto);

    display: flex;
    flex-direction: column;
  }

  .form__group {
    width: 616px;
    background-color: @color-white;
    margin-bottom: 50px;

    &--personal {
      order: -3;
      margin-bottom: -15px;
    }

    &--app {
      order: -2;
    }

    &--contacts {
      order: -1;
    }
  }

  .form__button-submit {
    width: 300px;
  }

  .form__submit-section {
    display: flex;
    justify-content: space-between;
  }

  .form__note {
    margin-bottom: 65px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    .margin-x (auto;auto);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
  }

  .form__group {
    width: 936px;

    &--personal {
      width: 433px;
    }

    &--app {
      width: 431px;
    }

    &--achievements {
      margin-bottom: 55px;
    }
  }

  .form__button-submit {
    margin-top: 14px;
  }

  .form__note {
    margin-top: 30px;
    margin-bottom: 0;

    &--extra {
      display: inline;
    }
  }
}
