.main-nav__header {
  min-height: 69px;
}

.main-nav__image {
  position: relative;
  top: 23px;
}

.main-nav__toggle {
  position: relative;
  top: 23px;
  left: 183px;
  width: 33px;
  height: 33px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  background-image: url("../../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  &--close {
    background-image: url("../../img/icon-menu-cross.svg");
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  .padding-x();

  box-shadow: 0.1px 1px desaturate(@color-white, 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 63px;
}

.main-nav__link {
  color: @color-white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 32px;
}
