.main-nav {
  background-color: @color-main;

  &--closed {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__header {
  min-height: 69px;
  padding: 23px 20px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.main-nav__toggle {
  width: 33px;
  height: 33px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  &--opened {
    background-image: url("../img/icon-menu-cross.svg");
  }

  &--closed {
    background-image: url("../img/icon-menu-burger.svg");
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  .padding-x();

  box-shadow: 0.1px 1px desaturate(@color-white, 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 63px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.main-nav__link {
  .font (18px; 32px);

  color: @color-white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: @color-pink;
  }

  &:active {
    color: @color-pink;
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__item {
  display: none;
}

.main-nav--opened .main-nav__item {
  display: flex;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav__header {
    min-height: 100px;
    padding: 42px 20px;
  }

  .main-nav__link {
    &:active {
      color: @color-white;
      opacity: 0.3;
    }
  }

  .main-nav__image {
    .size(145px;40px);
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item {
    margin-right: 79px;
    box-shadow: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__link {
    .font (18px; 18px);

    font-weight: normal;
    text-transform: none;
  }

  .main-nav__image {
    .size(147px;40px);
  }
}
