.our-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-contacts__text {
  .font(24px; 29px);
  .padding-x();

  color: @color-main;
  font-weight: 300;
  text-align: center;
}

.our-contacts__item {
  .font(18px; 25px);
  .padding-x();

  color: @color-main;
  font-weight: bold;
  text-align: center;
}

.our-contacts__link {
  .font(24px; 33px);

  display: block;
  margin: 0 auto;
  color: @color-pink;
  font-weight: 300;
  text-decoration: none;

  &--mail:hover {
    color: @color-main;
    text-decoration: underline;
  }

  &--mail:active {
    opacity: 0.3;
    text-decoration: none;
  }
}

.our-contacts__map {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .our-contacts__text {
    .font(40px; 54px);
  }

  .our-contacts__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .our-contacts__item {
    width: 241px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .our-contacts__text {
    .font(50px; 68px);
  }
}
