.page-main__block {
  box-sizing: border-box;
  margin: 0;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position-y: -70px;
}

.page-main__title {
  .font(24px; 33px);

  color: @color-white;
  font-weight: 300;
  text-align: center;
  padding: 35px 20px;
  margin: 0;
}

.page-main__text {
  .font(14px; 30px);
  .margin-x(20px;20px);

  width: 279px;
  color: @color-main;
  text-align: center;
}
