.page-footer__wrapper {
  min-height: 284px;
  background-color: @color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-bottom: 41px;
}

.page-footer__social {
  margin-bottom: 53px;
}
