.page__container {
  width: 280px;
  margin: 0 auto;
}

.page__header {
  background-color: @color-main;
}

@media (min-width: @tablet-width) {
  .page__container {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .page__container {
    width: 940px;
  }
}
