.page-main__block {
  box-sizing: border-box;
  margin: 0;
  background-color: @color-main;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.page-main__title {
  .font(24px; 33px);
  .padding-x();

  color: @color-white;
  font-weight: 300;
  text-align: center;
  padding: 35px 20px;
  margin-top: 0;
}

.page-main__text {
  .font(14px; 30px);
  .padding-x();

  color: @color-main;
  text-align: center;
}
