.page-main {
  width: @width-page;
}

.page-main__block {
  box-sizing: border-box;
  margin: 0;
  padding: 36px 46px 51px 46px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position-y: -70px;
}

.page-main__title {
  .font(24px; 33px);

  color: @color-white;
  font-weight: 300;
  text-align: center;
}

.page-main__title-img {
  position: relative;
  left: -45px;
  top: 60px;
}

.page-main__text {
  .font(14px; 30px);
  .margin-x(20px;20px);

  width: 280px;
  color: @color-main;
  text-align: center;
}
