.personal__name {
  .font(14px;30px);

  display: block;
  color: @color-pink;
  text-transform: uppercase;
  margin-left: 23px;
  margin-bottom: 18px;
}

.personal__field {
  .size (280px; 62px);

  color: @color-black;
  border: 2px solid @color-light-grey;
  border-radius: 1px;
  padding-left: 20px;
  margin-left: -23px;
  margin-top: 5px;

  &:hover {
    border-color: @color-main;
  }

  &:active {
    border-color: @color-pink;
  }
}

@media (min-width: @tablet-width) {
  .personal__name {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
  }

  .personal__field {
    margin-left: 20px;
    flex-grow: 1;
    width: 521px;
  }
}

@media (min-width: @desktop-width) {
  .personal {
    margin-right: 35px;
    margin-top: 20px;
  }
}
