.photos__text {
  .font(14px; 30px);
  .padding-x(15px);

  color: @color-main;
  text-align: center;
  background-color: @color-white;
  margin-top: 45px;
  margin-bottom: 49px;
}

.photos__list {
  list-style-type: none;
  padding: 0;
}

.photos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.photos__comment {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 280px;
  background-color: @color-adding;
  color: @color-main;
  padding: 22px 18px;
  margin-top: -4px;
}

.photos__user-name {
  .font(14px; 24px);

  margin: 0;
  font-weight: bold;
}

.photos__time {
  .font(12px; 24px);

  font-weight: normal;
  text-transform: uppercase;
}

.photos__description {
  .font(14px;24px);
  margin-top: 1px;
  margin-bottom: 2px;
}

.photos__likes {
  .font(12px; 24px);

  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 0.1px 5px;
  margin: 0;
  color: @color-pink;
  text-transform: uppercase;
  padding-left: 31px;
  margin-top: auto;
}

@media (min-width: @tablet-width) {
  .photos__text {
    .font(18px; 30px);

    padding-top: 90px;
    padding-bottom: 25px;
    margin-top: 0;
    width: 595px;
    margin-left: 12px;
  }

  .photos__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .photos__comment {
    width: 300px;
    min-height: 155px;
    flex-grow: 1;

    &--panorama {
      width: 620px;
      padding-bottom: 0;
    }
  }

  .photos__comment--panorama .photos__likes {
    position: relative;
    left: 77%;
    top: -100px;
    width: 120px;
    background-position-x: right;
  }

  .photos__likes {
    background-position: right 5px;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .photos__text {
    .padding-x(0);
    .margin-x (auto;auto);

    padding-bottom: 37px;
    width: 572px;
  }

  .photos__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .photos__comment--panorama {
    width: 940px;
  }

  .photos__comment--panorama .photos__likes {
    position: relative;
    left: 85%;
    top: -100px;
    background-position-x: right;
    width: 120px;
  }
}
