.slider__toggles {
  .margin-x(130px;130px);

  display: flex;
  justify-content: space-between;
}

.slider__toggle {
  .size(16px;16px);

  color: @color-main;
  opacity: 0.3;
  border-radius: 50%;

  &--current {
    color: @color-white;
    border: 2px solid @color-main;
    opacity: 1;
  }
}
