.tools__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 36px;
  width: 225px;
  margin-left: 20px;
}

.tools__item {
  background-color: transparent;
  border: none;

  &--active path {
    fill: @color-pink;
  }
}

.tools__range {
  display: none;
  position: relative;
  margin-bottom: 72px;

  &--active {
    display: block;
  }
}

.tools__scale {
  .size (240px;2px);
  .margin-x (auto;auto);

  background-color: @color-main;
}

.tools__toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 213px;
  top: -6px;
  background: @color-white;
  border: 2px solid @color-pink;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .tools__buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    margin-top: 66px;
    margin-bottom: 95px;
    width: 30px;
    margin-left: 0;
  }

  .tools__item path {
    fill: @color-pink;
  }

  .tools__item g {
    opacity: 1;
  }

  .tools__item svg {
    height: 22px;
    width: 22px;
  }

  .tools__block {
    display: flex;
    height: 168px;
  }

  .tools__ranges {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
  }

  .tools__range {
    display: block;
  }

  .tools__scale {
    .size(202px;2px);
  }

  .tools__toggle {
    &--crop {
      left: 146px;
    }

    &--fill {
      left: 25px;
    }

    &--contrast {
      left: 96px;
    }
  }
}

@media (min-width: @desktop-width) {
  .tools__buttons {
    gap: 30px;
    margin-top: 55px;
  }

  .tools__item svg {
    height: 44px;
    width: 44px;
  }

  .tools__ranges {
    margin-left: 48px;
  }

  .tools__scale {
    .size(288px;2px);
  }

  .tools__toggle {
    &--crop {
      left: 69px;
    }

    &--fill {
      left: 247px;
    }

    &--contrast {
      left: 160px;
    }
  }
}
